.curvy__svg {
  position: relative;
  z-index: 1;
}
.custom-shape-divider-bottom-1648065105 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: scaleX(-1);
}

.custom-shape-divider-bottom-1648065105 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 186px;
}

.custom-shape-divider-bottom-1648065105 .shape-fill {
  fill: #3e2d9b;
}
